<h1>Products#edit</h1>
<p>Find me in app/views/products/edit.html.erb</p>

<p>
  <%= link_to "Back", @product %>
</p>

<%= form_for @product do |p| %>
  <p>
      <%= p.label :name %><br>
      <%= p.text_field :name %>
  </p>

  <p>
      <%= p.label :description %><br>
      <%= p.text_field :description %>
  </p>

  <p>
      <%= p.label :price_in_cents %><br>
      <%= p.number_field :price_in_cents %>
  </p>

  <p>
    <%= p.submit %>
  </p>

  <% end %>
