<h1>Products#new</h1>
<p>Find me in app/views/products/new.html.erb</p>

<!-- name, :description, :price_in_cents -->

<%= render "form" %>
<!--
<%= link_to "Back to Products", products_path %>

<%= form_for @product do |p| %>
  <p>
      <%= p.label :name %><br>
      <%= p.text_field :name %>
  </p>

  <p>
      <%= p.label :description %><br>
      <%= p.text_field :description %>
  </p>

  <p>
      <%= p.label :price_in_cents %><br>
      <%= p.number_field :price_in_cents %>
  </p>

  <p>
    <%= p.submit "Save" %>
  </p> -->

  <% end %>
